.playArea{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title{
    display: flex;
    justify-content: center;
    font-family: Pixelify Sans;
    font-size: 55px;
    font-weight: bold;
}   


.Labels{
    font-family: Pixelify Sans;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    top: 160px;
}

#playerLabel{
    position: absolute;
    width: 200px;
    left: 25%;
}

#playerChoice{
    width: 128px;
    height: 128px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

#cpuLabel{
    position: absolute;
    width: 200px;
    right: 25%;
}

#cpuChoice{
    width: 128px;
    height: 128px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

#resultCard{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 240px;
}

#scoreBoard{
    margin-top: 50px;
    text-align: center;
}

#playAgain{
    margin-top: 30px;
}

.optionsTable{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 16%;
}

.optionsButton{
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 2px solid #FFFFFF;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    height: 50px;
    width: 200px;
    font-family: Pixelify Sans;
    font-size: 30px;
    transition: all 0.4s ease;
}

.optionsButton:hover{
    border: 2px solid #000000;
    transform: scale(1.1);
    box-shadow: 10px 10px 0px ;
}
